{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}


{% block registration_title %}<i class="fa fa-fw fa-user-cog"></i> {% trans "Account Activated" %}{% endblock %}

{% block registration_body %}
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;" class="text-success">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <p>
                {% trans "Your account is now activated." %}
                {% if not user.is_authenticated %}
                    {% trans "Once a site administrator activates your account you can login." %}
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}

{% block registration_footer %}
    <p align="center">
        {% trans "Forgot your password?" %} <a
            href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>. <br>
        {% trans "Already registered?" %} <a
            href="{% url 'auth_login' %}">{% trans "Log in" %}</a>.
    </p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
