{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Approval Failure" %}{% endblock %}

{% block content %}

    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fas fa-users-cog"></i> </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1">
                        <div style="text-align: center;" class="text-success">
                            <i class="fas  fa-exclamation-triangle fa-5x"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                        <p>{% trans "Account Approval failed." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% comment %}
**registration/admin_approve.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
