{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}



{% block registration_title %}<i class="fa fa-fw fa-sign-in-alt"></i> {% trans "Log in" %}{% endblock %}

{% block registration_body %}

    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;">
                <i class="fa fa-user-circle fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <form method="post" action="">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="{% trans 'Log in' %}"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>

{% endblock %}

{% block registration_footer %}
    <p align="center">
        {% trans "Forgot your password?" %} <a
            href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>. <br>
        {% trans "Not a member?" %} <a
            href="{% url 'registration_register' %}">{% trans "Register" %}</a>.
    </p>
{% endblock %}

{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
