{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block registration_title %}<i class="fa fa-fw fa-lock"></i> {% trans "Change password" %}{% endblock %}

{% block registration_body %}

    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;">
                <i class="fa fa-user-lock fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <form method="post" action="">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-warning btn-block" value="{% trans 'Change password' %}"/>
            </form>
        </div>
    </div>

{% endblock %}




{# This is used by django.contrib.auth #}
