{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}


{% block registration_title %}<i class="fa fa-fw fa-user-cog"></i> {% trans "Activation email sent" %}{% endblock %}

{% block registration_body %}
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;" class="text-success">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <p class="text-center">{% trans "Please check your email to complete the registration process." %}</p>
        </div>
    </div>

{% endblock %}

{% block registration_footer %}
    <p align="center">
        {% trans "Forgot your password?" %} <a
            href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>. <br>
        {% trans "Not a member?" %} <a
            href="{% url 'registration_register' %}">{% trans "Register" %}</a>.
    </p>
{% endblock %}

{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
