{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Resend Activation Email" %}{% endblock %}


{% block registration_title %}<i class="fa fa-fw fa-user"></i> {% trans "Resend Activation Email" %}{% endblock %}

{% block registration_body %}

    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;">
                <i class="fa fa-user-lock fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <form method="post" action="">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="{% trans 'Submit' %}"/>
            </form>
        </div>
    </div>

{% endblock %}



{% comment %}
**registration/resend_activation_form.html**
Used to show the form users will fill out to resend the activation email. By
default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
