{% extends 'base_fullwidth_leaflet.html' %}
{% load i18n %}
{% block title%}{{title}} {% endblock %} {% block content%}
<div id="ModelSearch">
  <h1>
    <span class="pull-right">
      <a href="{% url 'management:study_create' %}" target="_blank" class="btn btn-primary" data-toggle="tooltips"
        title="Nouvelle étude">
        <i class="fa fa-plus"></i>
      </a>
    </span>
    <i class="{{ icon | safe }}"></i> {{ title | safe }} {{object.name}}
  </h1>
  <div class="row">
    <div class="col col-sm-12 col-md-3 col-lg-2">
      <div class="panel">
        <div class="panel-body">
          <span class="label label-success pull-right">[[data.count > 0 ? data.count: 0]] résultats</span>
          <p><i class="fa fa-search fa-fw"></i>Rechercher</p>
          <form @keyup.enter="search()">
            <div class="form-group">
              <label for="searchNameUUID">Nom / UUID</label>
              <input class="form-control input-sm" id="searchNameUUID" type="text" placeholder="Nom / UUID" v-model="filters.search">
            </div>
            <div class="form-group">
              <label for="searchYear">Année</label>
              <input class="form-control input-sm" id="searchYear" type="text" placeholder="Année" v-model="filters.year">
            </div>
            <div class="form-group">
              <label for="searchManager">Responsable</label>
              <input class="form-control input-sm" id="searchManager" type="text" placeholder="Responsable"
                v-model="filters.manager">
            </div>
            <div class="form-group">
              <label for="searchTypeEtude">Type d'étude</label>
              <input class="form-control input-sm" id="searchTypeEtude" type="text" placeholder="Type d'étude"
                v-model="filters.type_etude">
            </div>
            <div class="form-group">
              <label for="searchTypeArea">Type d'espace</label>
              <input class="form-control input-sm" id="searchTypeArea" type="text" placeholder="Type d'espace"
                v-model="filters.type_espace">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" true-value="true" :false-value="null" v-model="filters.public_funding"> Financement public
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" true-value="true" :false-value="null" v-model="filters.public_report"> Rapport rendu public
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" true-value="true" :false-value="null" v-model="filters.public_raw_data"> Donnée brute publique
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" true-value="true" :false-value="null" v-model="filters.confidential"> Confidentiel
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" :true-value="userId" :false-value="null" v-model="filters.created_by"> Mes études
              </label>
            </div>
            <input type="text" @click="search()" class="btn btn-block btn-primary btn-sm" value="Rechercher">
          </form>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 col-md-9 col-lg-10">
      <div id="studyDataList" class="list-group scroll-y-auto study-data-panel">
        <div class="list-group-item" v-for="(s, i) in dataList">
          <h4 class="list-group-item-heading">
            <span class="text-success">[[s.year ? s.year : '-']]</span> -
            <a :href="`/study/${s.id_study}/detail`" target="_blank" title="Voir la fiche de l'étude">[[s.name]]</a>
          </h4>
          <span class="text-muted">Créé le [[new Date(s.timestamp_create).toLocaleDateString()]][[s.timestamp_update ?
            `, mis à jour le
            ${new Date(s.timestamp_update).toLocaleDateString()}`:'']].</span>
          <div class="list-group-item-text row ">
            <div class="col col-md-6">
              <dl class="dl-horizontal">
                <dt>Identifiant unique</dt>
                <dd><code>[[s.uuid]]</code></dd>
                <dt>Nom</dt>
                <dd>[[s.name]]</dd>
                <dt>Année</dt>
                <dd>[[s.year]]</dd>
                <dt>Responsable</dt>
                <dd>[[s.project_manager?.full_name || '-']]</dd>
                <dt>Type d'étude</dt>
                <dd>[[s.type_etude]]</dd>
                <dt>Type d'espace</dt>
                <dd>[[s.type_espace]]</dd>
              </dl>
            </div>

            <div class="col col-md-6">
              <dl class="dl-horizontal">
                <dt>Financement public</dt>
                <dd>
                  <span class="label" :class="s.public_funding? 'label-success':'label-default'">[[s.public_funding?
                    'Oui':'Non']]</span>
                </dd>
                <dt>Rapport rendu public</dt>
                <dd>
                  <span class="label" :class="s.public_report? 'label-success':'label-default'">[[s.public_report?
                    'Oui':'Non']]</span>
                </dd>
                <dt>Donnée brute publique</dt>
                <dd>
                  <span class="label" :class="s.public_raw_data? 'label-success':'label-default'">[[s.public_raw_data?
                    'Oui':'Non']]</span>
                </dd>
                <dt>Confidentiel</dt>
                <dd>
                  <span class="label" :class="s.confidential? 'label-danger':'label-default'">[[s.confidential?
                    'Oui':'Non']]</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  {% comment %} const myId = parseInt("{{user.id}}") {% endcomment %}
  {% comment %} $(document).ready(() => {
    const vm = new Vue(studyListApp(myId))
  }) {% endcomment %}


  $(document).ready(() => {
    const prefilledFilters = getQueryStrings();
    const userId = '{{ user.is_authenticated }}' === 'True' ? parseInt('{{ user.pk }}'):none;
    const vm = new Vue(ModelSearch(studyListUrl, userId, prefilledFilters, 'studyDataList','json'));
  })
</script>

{% endblock %}
