{% extends 'base_fullwidth.html' %}
{% load i18n static crispy_forms_tags django_tables2 %}
{% block content %}


<h1>
  <span class="pull-right"><a class="btn btn-primary" href="{% url 'management:transmitter_create' %}"><i
        class="fa fa-fw fa-plus" data-toggle="tooltips" title="{% trans 'Nouvel émetteur' %}"></i>
    </a></span>
  <i class="{{ icon | safe }}"></i> {{ title | safe }}
</h1>
{% if filter %}
<div class="panel panel-default">
  <div class="panel-body">
    <form action="" method="get">
      {% crispy filter.form %}
    </form>
  </div>
</div>
{% endif %}
{% if count %}
<div class="panel panel-default">
  <div class="panel-body">
    {% if export %}
    <div class="btn-group btn-group-xs pull-right">
      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {% trans 'Exporter' %} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{% querystring '_export'='csv' %}"> download as csv</a></li>
        <li><a href="{% querystring '_export'='ods' %}"> download as ods</a></li>
        <li><a href="{% querystring '_export'='xls' %}"> download as xlsx</a></li>
        <li><a href="{% querystring '_export'='xlsx' %}"> download as xls</a></li>
      </ul>
    </div>
    {% endif %}
    {{ counttitle }} : <b>{{ count }}</b>
  </div>
</div>
{% endif %}

<div class="panel panel-default">
  {% render_table table %}
</div>

<script type="text/javascript">
  {{ js | safe }}


</script>
{% if filter %}
<link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}">
<script type="text/javascript">

  $.fn.select2.defaults.set("theme", "bootstrap");

</script>
{% endif %}

{% endblock %}
