{% extends "base_fullwidth.html" %}
{% block content %}
<h1>{{ title }}</h1>

<form
  id="app"
  @submit="checkForm"
  method="post"
>
<div class="row">
  <div class='col col-lg-12'>
    <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
  </div>

  <div class="col col-lg-8 col-md-6 col-sm-12">


    <div class="panel  panel-default">

<div class="col col-lg-4 col-md-6 col-sm-12">
  <div class="form-group">
    <label for="name">email</label>
    <input
    type="email" class="form-control"
      id="email"
      v-model="user.email"
      type="text"
      name="email"
    >
  </div>
</div>
<div class="col col-lg-4 col-md-12">
  <div class="form-group">
    <label for="name">Nom</label>
    <input
      class="form-control"
      id="name"
      v-model="user.name"
      type="text"
      name="name"
    >
  </div>
</div>
<div class="col col-lg-4 col-md-12">
  <div class="form-group">
    <label for="surname">Prénom</label>
    <input
      class="form-control"
      id="surname"
      v-model="user.surname"
      type="text"
      name="surname"
    >
  </div>
</div>
<div class="col col-md-4 col-sm-12">
  <div class="checkbox">
    <label>
      <input type="checkbox"> Responsable local
    </label>
  </div>
</div>
<div class="col col-lg-8 col-md-12">
  <div class="form-group">
    <label for="surname">Territoire de responsabilité</label>
    <input
      class="form-control"
      id="surname"
      v-model="user.surname"
      type="text"
      name="surname"
    >
  </div>
</div>
</div>
  </div>
<div class="col col-lg-4 col-md-6 col-sm-12">
 <div class="panel  panel-default">
    <h2>Organisms</h2>
  </div>
</div>
</div>
<div class="col col-12">
  <input
    type="submit"
    value="Submit"
    class="btn btn-success"
  >
</div>
</form>

{% endblock %}
