{% extends 'base.html' %}
{% block title %}Erreur 403{% endblock %}
{% block content %}
<h1><i class="fas fa-info-circle"></i> Erreur 403</h1>
<div class="columns callout">
	<h2>Accès non authorisé</h2>
    <p style="font-size: 0.8em;">{{ exception }} </a>
</div>
{% endblock %}
