{% extends 'base.html' %}
{% block title %}Export Done{% endblock %}
{% block content %}
<h1><i class="fas fa-info-circle"></i> Export done</h1>
<div class="columns callout">
	<h2>Export done</h2>
</div>
{% endblock %}
