{% extends 'base_leaflet.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
  .legend {
    padding: 6px 8px;
    font: 14px "LatoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
  }

  .zoomInfo {
    padding: 5px;
  }

  .legend span {
    position: relative;
    bottom: 3px;
  }

  .legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
    border-radius: 50%;
  }

</style>
<h1><i class="{{ icon }}"></i> {{ title }}</h1>
{% if messages %}
<div class="small callout alert">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
</div>
{% endif %}
{% if error_message %}
<div class="small callout alert">
  <b>{{ error_message }}</b>
</div>
{% endif %}
{% if form.errors %}
<div class="small callout alert">
  <b>{{ form.errors }}</b>
</div>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% crispy form %}
</form>

<link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}">
<script>
  $(document).ready(() => {
    leafletForm()
  })

</script>

<script type="text/javascript">
  {{js | safe}}
 // $.fn.select2.defaults.set("theme", "bootstrap");

</script>
<br />

{% endblock %}
