{% extends "base.html" %} {% block title %}Export {{object.id}}
({{object.timestamp_create}}){% endblock %} {% block content %}

<div >
    <h1>
        <i class="fa fa-download"></i>
        Mes exports
    </h1>

    <div id="ExportList" class="row">
        <div class="table-responsive tableFixHead">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>date d'expiration</th>
                        <th class="text-center">status</th>
                        <th>file</th>
                        <th>Critères</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="i in data">
                        <td>[[i.id]]</td>
                        <td
                            :class="[(new Date(i.expiration_date) > new Date())? 'text-success':'text-danger']"
                        >
                            [[(new Date(i.expiration_date)).toLocaleString()]]
                        </td>
                        <td class="text-center">
                            <i
                                class="fa"
                                :class="[i.ready && (new Date(i.expiration_date) > new Date()) ? 'fa-check-circle text-success':'fa-times-circle text-danger']"
                            ></i>
                        </td>
                        <td>
                            <a
                                v-if="i.export_file && i.ready && (new Date(i.expiration_date) > new Date())"
                                class="btn btn-sm btn-success"
                                :href="i.export_file"
                                >Télécharger</a
                            >
                        </td>
                        <td>
                            <code
                                v-if="i.search_qs && !(Object.entries(i.search_qs).length === 0)"
                                >[[i.search_qs]]</code
                            >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const dataUrl = "{% url 'exports:exports-list' %}"

    $(document).ready(() => {
        const vm = new Vue(genericApiVue(dataUrl, '#ExportList'))
    })
</script>

{% endblock %}
