{% extends 'base_fullwidth_leaflet.html' %}
{% load leaflet_tags i18n static crispy_forms_tags django_tables2 geojson_tags %}
{% leaflet_js %} {% leaflet_css %}
{% block jsvar %} {% endblock %}
{% block title %}{{ title | safe }}{% endblock %}
{% block content %}
<style>


</style>

<div id="ModelSearch">
  <h1>
    <span class="btn btn-group pull-right">
      <a href="{% url 'sights:metaplace_create' %}" class="btn btn-success"><i
          class="fa fa-fw fa-map-marker-alt"></i><strong>
          {% trans 'Créer un métasite' %}</strong></a>
    </span>
    <i class="{{ icon | safe }}"></i> {{ title | safe }}
  </h1>
  {% comment %}Tableau de recherche avec filtrage {% endcomment %}
  <div class="row">
    <div class="col col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <div class="panel">
        <div class="panel-body searchBlock">
          <span class="label label-success pull-right">[[data.count ? data.count : 0]] résultats</span>
          <p class=" text-info"> <i class="fa fa-search fa-fw"></i>Rechercher</p>
          <form v-on:keyup.enter="search()">
            <div class="form-group form-group-sm">
              <label for="searchSearch">Nom</label>
              <input class="form-control" id="searchSearch" type="text" placeholder="Nom" v-model="filters.name">
            </div>
            <div class="form-group">
              <label class="control-label" for="Area">Zonage</label>
              <p class="help-block">limites administratives, espaces naturels, etc.</p>
              <dict-select :options="dicts.AreaType" v-model="area_type" placeholder="Type de zonage"/>
            </div>
            <div class="form-group">
              <area-select id="Area" class="form-control" v-model="filters.area" :areatype='area_type' />
            </div>
            {% comment %} <div class="form-group form-group-sm"> {% endcomment %}
              <div class="form-group" class="form-group">
                <label class="control-label" for="Precision">Type</label>
                <dict-select :options="dicts.MetaplaceType" v-model="filters.type" />
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="filters.created_by" :true-value="userId" :false-value="null"> Créé
                  par
                  moi
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="filters.updated_by" :true-value="userId" :false-value="null">
                  Modifié
                  par moi
                </label>
              </div>
              <input type="text" @click="search()" class="btn btn-block btn-primary btn-sm" value="Rechercher">
              {% comment %}
              <pre>[[filters]]</pre> {% endcomment %}
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
      <div id="dataTable" class="panel panel-default table-responsive tableFixHead">
        <table id="place_results" class="table  table-fixed table-striped table-condensed map-navigation"
          cellspacing="0" width="100%">
          <thead>
            <tr>
              <th style="width: 80px;">Actions</th>
              <th>Nom</th>
              <th>Type</th>
              <th>Localités</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="f in dataList.features" @click="feature=f">
              <td>
                <a :href="`/metaplace/${f.id}/detail`" class="text-primary"><i class="fa fa-info-circle"
                    title="Fiche détaillée" target="_blank"></i></a>
                <a :href="`/metaplace/${f.id}/update`" class="text-info"><i class="fa fa-edit" title="Editer"
                    target="_blank"></i></a>
                <a :href="`/metaplace/${f.id}/add/place`" class="text-info"><i class="fa fa-map-marker"
                    title="Créer une localité" target="_blank"></i></a>
                </a>
              </td>
              <td><a :href="`/metaplace/${f.id}/detail`" class="text-primary" tatget="_blank"
                  title="Fiche détaillée">[[f.properties.name]]</a></td>
              <td>[[f.properties.type ? f.properties.type.descr : '']]</td>
              <td>[[f.properties.count_places]]</td>
            </tr>
            <tr v-if="loading">
              <td class="text-center text-muted" colspan="6">
                Chargement en cours...
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% if debug %}
      {% comment %}
      <pre>[[data.features?data.features.find(x=>true):'']]</pre> {% endcomment %}

      {%endif%}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
      <place-map :feature="feature"></place-map>
    </div>
  </div>
</div>
<script>
  const dataUrl = "{% url 'sights:metaplace_geosearch_api' %}";

  $(document).ready(() => {
    const prefilledFilters = getQueryStrings();
    if ('{% if only_mine %}{{only_mine|yesno:"true,false"}}{% endif %}' === 'true') {
       prefilledFilters.onlyMine = true;
    };
    const vm = new Vue(ModelSearch(dataUrl, userId, prefilledFilters));
  })

</script>
{% endblock %}
