{% extends 'base_fullwidth_leaflet.html' %}
{% load leaflet_tags i18n static crispy_forms_tags django_tables2 geojson_tags %}
{% leaflet_js %} {% leaflet_css %}
{% block jsvar %} {% endblock %}
{% block title %}{{ title | safe }}{% endblock %}
{% block content %}
<style>

</style>

<div id="ModelSearch">
  <h1>
    <i class="{{ icon | safe }}"></i> {{ title | safe }} <div class="pull-right">
      {% comment %} <button  class="btn btn-primary" data-placement="bottom" data-toggle="modal" data-target="#exportModal"
        title="Télécharger les données détaillées">
        <i class="fas fa-download"></i> Export
    </button> {% endcomment %}

      <span class="label label-success">[[data.count ? data.count : 0]]
        résultats</span></div>
  </h1>
  <!-- start Export modal -->
  <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exportModalLabel">Export des données</h4>
        </div>
        <div class="modal-body">
          <div v-if="dataExport['id']">
              <p>Vous allez recevoir un mail de notification contenant l'adresse de téléchargement de l'export (si vous ne le recevez pas, pensez à vérifiez dans les courriers indésirables). Vous pouvez aussi suivre directement l'avancement de cet export en suivant ce lien.</p>
              <a type="button" class="btn btn-success" :href='`/exports/${dataExport.id}`'>Suivi de l'export</a>
          </div>
          <div v-else>
          Vous vous apprêtez à télécharger des données.<br>
          <i class="fas faw fa-exclamation-triangle"></i> Cet export ne contiendra que les données pour lesquelles vous avez les autorisations d'export.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          <a type="button" class="btn btn-primary" @click="launchExport()">Export</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Export modal -->
  <div class="row">
    <div class="col col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <div class="panel">
        <div class="panel-body searchBlock">
          <div class="pull-right"><i data-toggle="tooltip" data-placement="bottom" title="Recherche avancée"
              class="fas fa-search-plus" @click="advancedSearch = !advancedSearch"></i>&nbsp;
          </div>
          <p class=" text-info"> <i class="fa fa-search fa-fw"></i>Rechercher </p>
          <form v-on:keyup.enter="search()">
            <div class="form-group">
              <label class="control-label" for="place">Localité</label>
              <header-place-select id="place" type="text" class="form-control" placeholder="Search"
                v-model="filters.place">
              </header-place-select>
            </div>
            <div class="form-group" class="form-group" v-if="advancedSearch">
              <label class="control-label" for="Precision">Type de localité</label>
              <dict-select :options="dicts.TypePlace" v-model="filters.place_type" />
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.gite">Est un gîte
              </label>
            </div>
            <div class="form-group" class="form-group" v-if="advancedSearch">
              <label class="control-label" for="metasite">Métasite</label>
              <metaplace-select id="metasite" class="form-control" v-model="filters.metaplace" />
            </div>
            <div class="form-group">
              <label class="control-label" for="Area">Zonage</label>
              <p class="help-block">limites administratives, espaces naturels, etc.</p>
              <dict-select :options="dicts.AreaType" v-model="area_type" placeholder="Type de zonage"/>
            </div>
            <div class="form-group">
              <area-select id="Area" class="form-control" v-model="filters.area" :areatype='area_type' />
            </div>
            <div class="form-group" class="form-group">
              <label class="control-label" for="Study">Etude</label>
              <study-select v-model="filters.study" />
            </div>
            <div class="form-group form-group-sm" v-if="advancedSearch">
              <label for="dateMin">Date mini</label>
              <input class="form-control" type="date" id="dateMin" v-model="filters.date_min" name="date_min"
                :max="dateInputLimit">

              <label for="dateMax">Date maxi</label>
              <input class="form-control" type="date" id="dateMax" v-model="filters.date_max" name="date_max"
                :max="dateInputLimit">
            </div>
            <div class="form-group form-group-sm" v-if="advancedSearch">
              <label for="searchSearch">Altitude mini</label>
              <input class="form-control" id="searchSearch" type="number" min="-200" max="9000" step="10"
                placeholder="Mini" v-model="filters.alt_min">
              <label for="searchSearch">Altitude maxi</label>
              <input class="form-control" id="searchSearch" type="number" max="-200" max="9000" step="10"
                placeholder="Maxi" v-model="filters.alt_max">
            </div>
            <div class="form-group" class="form-group">
              <label class="control-label" for="Precision">Espèce</label>
              <specie-select v-model="filters.specie" />
            </div>
            <div class="form-group" class="form-group">
              <label class="control-label" for="Precision">Type de contact</label>
              <dict-select :options="dicts.Contact" v-model="filters.contact" />
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.breed_colo">Colonie de reproduction
              </label>
            </div>
            <div class="form-group">
              <label class="control-label" for="period">Période</label>
              <select class="form-control" name="period" id="period" v-model="filters.period">
                <option value="">-</option>
                <option v-for="p in periods" :value="p">[[p]]</option>
              </select>
            </div>
            {% comment %} <div class="form-group" class="form-group" v-if="advancedSearch">
              <label class="control-label" for="Precision">Sexe</label>
              <dict-select :options="dicts.Sex" v-model="filters.sex" />
            </div>
            <div class="form-group" class="form-group" v-if="advancedSearch">
              <label class="control-label" for="Precision">Age</label>
              <dict-select :options="dicts.Age" v-model="filters.age" />
            </div>
            <div class="form-group form-group-sm" v-if="advancedSearch">
              <label for="searchSearch">Effectif mini</label>
              <input class="form-control" id="searchSearch" type="text" placeholder="Mini" v-model="filters.count_min">
            </div>
            <div class="form-group form-group-sm" v-if="advancedSearch">
              <label for="searchSearch">Effectif maxi</label>
              <input class="form-control" id="searchSearch" type="text" placeholder="Maxi" v-model="filters.count_max">
            </div> {% endcomment %}
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="filters.only_mine" :true-value="userId" :false-value="null"> Créés par
                moi
              </label>
            </div>
            <input type="text" @click="search()" class="btn btn-block btn-primary btn-sm" value="Rechercher">
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
      <div id="dataTable" class="panel panel-default table-responsive tableFixHead">
        <table id="place_results" class="table  table-fixed table-striped table-condensed map-navigation"
          cellspacing="0" width="100%">

          <thead>
            <tr>
              <th stule="width: 80px">Actions</th>
              <th>Date</th>
              <th>Localité</th>
              <th class="text-center">Methode</th>
              <th>Observateurs</th>
              <th class="text-center">Observations</th>
              <th>Etude</th>
          </tr>
          </thead>
          <tbody>
            <tr v-for="f in dataList.features" @click="feature=f">
              <td> <!--ACTION-->
                <a :href="'/session/'+f.id+'/detail'" class="text-primary"><i class="fa fa-info-circle"
                  title="Fiche détaillée" ></i></a>
              <a :href="'/session/'+f.id+'/update'" class="text-info"><i class="fa fa-edit" title="Editer"></i></a>
              <a :href="'/session/'+f.id+'/sighting/edit'" class="text-info"><i class="fa fa-eye" title="Editer les observations"></i></a>
              </td>
              <td><!--DATE-->
                <strong>[[f.properties.date_start]]</strong>
                <i class="text-muted">[[f.properties.time_start?' '+f.properties.time_start:'']]</i> - [[f.properties.date_end]]<i class="text-muted">[[f.properties.time_end ? ' '+f.properties.time_end:'']]</i>
              </td>
              <td><!--LOCALITE-->
                <a
                  :href="`/place/${f.properties.place.id_place}/detail`">
                  [[f.properties.place.name]]</a>
                  <span class="text-muted">[[f.properties.place.areas.find(i => i.area_type.code==='mun')?.name]] ([[f.properties.place.areas.find(i => i.area_type.code==='dep')?.code]])</span>
              </td>
              <td> <!--CONTACT-->
                <span class="label label-default">[[f.properties.contact.code]]</span> [[f.properties.contact.descr]]
              </td>

              <td><!--OBSERVERS-->
                [[f.properties.main_observer.full_name]] <span class="badge" v-if="f.properties.other_observer.length">+[[f.properties.other_observer.length]]</span>
               </td>
               <td>[[f.properties.observations.length>0 ? f.properties.observations.length: '-' ]]</td>
               <td><span v-if="f.properties.study"><a>[[f.properties.study.name]]</a></span></span v-else>-</span></td>
            </tr>
            <tr v-if="loading">
              <td class="text-center text-muted" colspan="7">
                Chargement en cours...
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% if debug %}
      {% comment %}
      <pre>[[data.features?data.features.find(x=>true):'']]</pre> {% endcomment %}

      {%endif%}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
      <place-map :feature="feature"></place-map>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    const prefilledFilters = getQueryStrings();

    if ('{% if only_mine %}[[only_mine|yesno:"true,false"]]{% endif %}' === 'true') {
      prefilledFilters['only_mine'] = true
    }
    if ('{% if userId %}[[userId]]{% endif %}'.length > 0) {
      prefilledFilters['user'] = parseInt('{% if userId %}[[userId]]{% endif %}')
    }
    const vm = new Vue(ModelSearch(sessionBaseUrl, userId, prefilledFilters));
  })

</script>
{% endblock %}
