html {
    position: relative;
    min-height: 100%;
}

body {
    /*padding-top: 30px;*/
    padding-top: 50px;
    font-family: 'LatoRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ecf0f1;
    margin-bottom: 90px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato';
}

/* Sticky footer styles
-------------------------------------------------- */


/* xs < 768 */
@media screen and (max-width: 767px) {

    h1,
    .h1 {
        font-size: 25px;
    }

    h2,
    .h2 {
        font-size: 22px;
    }

    h3,
    .h3 {
        font-size: 18px;
    }

    navbar-brand {
        margin-left: 30px;
    }

}

header {
    background-color: #1a1a1a;
}

header h1 {
    font-family: 'Lato';
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 40px;*/
    /*line-height: 40px; !* Vertically center the text there *!*/
    text-align: center;
    padding: 10px;
    background-color: #1a1a1a;
    color: #eeeeee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    height: 40px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {*/
/*padding: 60px 15px 0;*/
/*}*/

/*.footer > .container {*/
/*padding-right: 15px;*/
/*padding-left: 15px;*/
/*}*/

/*code {*/
/*font-size: 80%;*/
/*}*/


#ModelSearch {}

#ModelSearch .searchBlock {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

#ModelSearch .tableFixHead {
    overflow-y: auto;
    height: calc(100vh - 200px);
}

#ModelSearch .tableFixHead thead th {
    position: sticky;
    top: 0;
}

#ModelSearch th {
    background: #eee;
}

#ModelSearch #mapContainer {
    width: 100%;
    min-height: calc(100vh - 200px);
}


#ExportList .tableFixHead {
    overflow-y: auto;
    height: calc(100vh - 200px);
}

#ExportList .tableFixHead thead th {
    position: sticky;
    top: 0;
}


#ExportList th {
    background: #eee;
}



.page-header {
    /*background-color: #1a1a1a;*/
    margin: 0px;
    text-align: center;
    color: #fff;
    height: 60px;
    max-height: 60px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

}


.page-header .header-title {
    padding-top: 5px;
}

.page-header img {
    /* margin-top: 8px; */
    height: 50px;
}

.page-header .links {
    color: white;
    /* margin-top: 8px;
    margin-right: 5px; */
    position: absolute;
    top: 20px;
    right: 15px;
}


.page-header .links a {
    color: white;
}

.page-header .links a:hover {
    color: grey;
}

/*
@media screen and (min-width: 768px) {


} */

/*
@media screen and (min-width:1280px) {
    .page-header {
        margin: 0px;
        text-align: center;
        color: #fff;
        height: 170px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .page-header h1 {
        color: #fff;
        size: 0.8rem;
    }

    .page-header img {
        margin-top: 20px;
        height: 80px;
    }

} */

/* xs < 768 */
@media screen and (max-width: 1280px) {}

/* Formulaires */

.form-control {
    height: 34px;
    padding: 5px 5px;
    font-size: 13px;
}

/*
BS Forms
*/

.input-group-addon {
    height: 32px;
    padding: 5px 5px;
    font-size: 13px;
}

.input-group-btn>.btn {
    height: 32px;
    padding: 5px 5px;
    font-size: 13px;
}

/*
BS Panel
*/

.panel-heading {
    padding: 10px;
}

.panel-title {
    font-size: 19px;
    color: inherit;
}

.panel-heading h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.panel-table .panel-body {
    padding: 0;
}

.panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type {
    text-align: center;
    width: 100px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:last-of-type,
.panel-table .panel-body .table-bordered>tbody>tr>td:last-of-type {
    border-right: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr>th:first-of-type,
.panel-table .panel-body .table-bordered>tbody>tr>td:first-of-type {
    border-left: 0px;
}

.panel-table .panel-body .table-bordered>tbody>tr:first-of-type>td {
    border-bottom: 0px;
}

.panel-table .panel-body .table-bordered>thead>tr:first-of-type>th {
    border-top: 0px;
}

.panel-table .panel-footer .pagination {
    margin: 0;
}

/*
BS navtab
*/

.nav-pills>li>a {
    margin: 4px !important;
}

/*
BS Table
 */
table {
    border-bottom: 1px solid #ecf0f1;
    border-top: 1px solid #ecf0f1;
}

thead,
tbody,
tr {
    border-bottom: 1px solid #ecf0f1;
}

/*
BS Grid
*/
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding: 10px;
}

/*
BS Full screen Modal
*/
.fullscreen-modal .modal-dialog {
    margin: 10;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

/* Chart.js */

/* Leaflet */

.leaflet-container-default {
    min-height: 500px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
}


/*another-popop style*/
.leaflet-popup-content-wrapper {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    line-height: 24px;
    border-radius: 5px;
    border-left: 10px solid #158cba;
}


.leaflet-popup-tip-container {
    width: 50px;
    height: 15px;
}

.leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}

.leaflet-popup-content div.right a {
    /* float: right; */
    font-size: 2rem;
}

/* Pour les sous-menus de la barre du haut */
/*.marginBottom-0 {*/
/*margin-bottom: 0;*/
/*}*/

/*.dropdown-submenu {*/
/*position: relative;*/
/*}*/

/*.dropdown-submenu > .dropdown-menu {*/
/*top: 0;*/
/*left: 100%;*/
/*margin-top: -6px;*/
/*margin-left: -1px;*/
/*-webkit-border-radius: 0 6px 6px 6px;*/
/*-moz-border-radius: 0 6px 6px 6px;*/
/*border-radius: 0 6px 6px 6px;*/
/*}*/

/*.dropdown-submenu > a:after {*/
/*display: block;*/
/*content: " ";*/
/*float: right;*/
/*width: 0;*/
/*height: 0;*/
/*border-color: transparent;*/
/*border-style: solid;*/
/*border-width: 5px 0 5px 5px;*/
/*border-left-color: #cccccc;*/
/*margin-top: 5px;*/
/*margin-right: -10px;*/
/*}*/

/*.dropdown-submenu:hover > a:after {*/
/*border-left-color: #555;*/
/*}*/

/*.dropdown-submenu.pull-left {*/
/*float: none;*/
/*}*/

/*.dropdown-submenu.pull-left > .dropdown-menu {*/
/*left: -100%;*/
/*margin-left: 10px;*/
/*-webkit-border-radius: 6px 0 6px 6px;*/
/*-moz-border-radius: 6px 0 6px 6px;*/
/*border-radius: 6px 0 6px 6px;*/
/*}*/

/********************
 *      SIDEBAR     *
 ********************/

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    /*padding-left: 250px;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

.navbar {
    background-color: #1a1a1a;
    /* color: #eeeeee; */
    min-height: 50px;
    /* padding-top:5px; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navbar .container {
    padding-top: 7px;
}

@media (max-width: 750px) {
    .navbar .container {
        padding-left: 50px;
    }
}

.navbar-brand {
    padding: 3px 15px;
}

#sidebar-wrapper {
    z-index: 2000;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #dbd9db;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 30;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eeeeee;
}

@media screen and (max-width: 400px) {
    .sidebar-nav {
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 100%;
    }

    .sidebar-open-icon.is-open {
        right: 10px;
        z-index: 10000;
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    /*background-color: #1c1c1c;*/
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.sidebar-nav li:first-child a {
    /*color: #fff;*/
    /*background-color: #1a1a1a;*/
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    color: #fff;
}

.sidebar-nav li a {
    display: block;
    color: #1a1a1a;
    text-decoration: none;
    /*padding: 10px 15px 10px 30px;*/
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #158cba;
}

.sidebar-nav>.sidebar-brand {
    /*height: 150px;*/
    font-size: 30px;
    /* line-height: 150px; */
    background-color: #fff;
    color: #000;
}

.sidebar-nav>.sidebar-brand a {
    background-color: #ccc;
    color: #000;
}

.sidebar-nav>.sidebar-brand img {
    height: 50px;
    max-width: 250px;
}


.sidebar-nav>.sidebar-brand a:hover {
    background-color: #158cba;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-left: 5px solid #333;
}

.sidebar-nav .dropdown-menu li.dropdown-header {
    font-size: 14px;
    color: #333;
    background-color: #75caeb;
    padding: 5px 22px;
}

.sidebar-nav .dropdown-menu li a {
    padding: 5px 30px;
}

@media screen and (max-width: 1280px) {
    .sidebar-nav>.sidebar-brand {
        /*height: 150px;*/
        font-size: 25px;
        line-height: 80px;
        background-color: #1a1a1a;
        color: #eeeeee;
    }
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.sidebar-open-icon {
    color: white;
    top: 7px;
    position: fixed;
    z-index: 1501;
    display: block;
    margin-left: 7px;
    background: transparent;
    border: none;
    z-index: 2000;
}


.sidebar-open-icon.is-closed:before {
    content: '';
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.sidebar-open-icon.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.ontop {
    z-index: 10000;
}

.sidebar-open-icon.is-open {
    color: #ddd;
    z-index: 10000;
}

.sidebar-open-icon.is-open:before {
    content: '';
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.sidebar-open-icon.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}


.hamburger {
    position: fixed;
    top: 7px;
    z-index: 1501;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background: transparent;
    border: none;
    z-index: 2000;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #fff;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #fff;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
    background-color: #fff;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #000;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 0.8);
    z-index: 1500;
}

/*-------------------------------*/
/*            Leaflet            */
/*-------------------------------*/

/* Leaflet search */

 .leaflet-container .leaflet-control-search {
    position: relative;
    z-index: 800;
    pointer-events: visiblePainted;
    pointer-events: auto;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    box-shadow: none;
    border-radius: 4px;
 }



/*.leaflet-control-search.search-exp { !*expanded*!*/
/*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);*/
/*}*/

.leaflet-control-search .search-input {
    display: block;
    float: left;
    background: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #777;
    /*border-radius: 0px;*/
    height: 26px;
    font-size: 1.25em;
    padding: 0 0.125em;
    margin: 3px;
    padding-right: 30px;
}

.leaflet-control-search .search-button,
.leaflet-control-search .search-button:hover {
    background-image: url(images/search_icons.png);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-position: 1px 1px;
    width: 30px;
    height: 30px;
}

.leaflet-control-search.search-load .search-input {
    background: url(images/loader.gif) no-repeat center right #fff;
}

.leaflet-legend-toggle {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 262144 262144' id='svg1' width='262144' height='262144' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Cpath d='M 256,61.61529 C 148.61812,61.61529 61.61529,148.6965 61.61529,256 61.61529,363.38188 148.61812,450.38471 256,450.38471 363.38188,450.38471 450.38471,363.38188 450.38471,256 450.38471,148.6965 363.38188,61.61529 256,61.61529 Z m 0,86.21902 c 18.18438,0 32.91999,14.73562 32.91999,32.92 0,18.18437 -14.73561,32.91999 -32.91999,32.91999 -18.18438,0 -32.91999,-14.73562 -32.91999,-32.91999 0,-18.18438 14.73561,-32.92 32.91999,-32.92 z m 43.89332,199.08757 c 0,5.17314 -4.23257,9.40571 -9.40571,9.40571 h -68.97522 c -5.17314,0 -9.40571,-4.23257 -9.40571,-9.40571 v -18.81142 c 0,-5.17314 4.23257,-9.40571 9.40571,-9.40571 h 9.40571 v -50.1638 h -9.40571 c -5.17314,0 -9.40571,-4.23257 -9.40571,-9.40571 v -18.81143 c 0,-5.17314 4.23257,-9.40571 9.40571,-9.40571 h 50.1638 c 5.17314,0 9.40571,4.23257 9.40571,9.40571 v 78.38094 h 9.40571 c 5.17314,0 9.40571,4.23257 9.40571,9.40571 z' id='path1' style='stroke-width:0.783809' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: none;
    border-radius: 4px;
  }

.zoomInfo {
    font-size: 1.5rem;
}

.legend {
    padding: 6px 8px;
    font: 14px 'LatoRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
    border-radius: 50%;
}

.form-inline>* {
    margin: 10px 3px !important;
}

#spinner {
    margin: auto;
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

#spinnerText {
    margin-top: 40px;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}



/************************************/
/* Sighting form                    */
/************************************/

/*

#sighting-form {
    margin: 5px;
    padding: 0px 5px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 5px;
}

#countdetail-form {
    margin: 5px;
    padding: 0px 5px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
}

#sessionSightingEdit h1, h3, h4 {
    /* margin: 0; */
}



#sessionSightingEditFormList {
    background: white;
    /* padding: 0px; */
}


#sessionSightingEditFormDetails {
    /* background: whitesmoke; */
    /* padding: 0; */
}

#sessionSightingEditFormDetails h3 {
    padding: 10px;
}

#listSpecie {
    padding: 10px;
    border-bottom: 1px solid #777;
}

#specieForm {
    padding: 10px;
    border-bottom: 1px solid #777;

    background-color: whitesmoke;
}

#specieDetail {
    padding: 5px;
    /*border-bottom: 1px solid #777 ;
    border-top: 1px solid #777 ;*/
    background-color: whitesmoke;
}

.bg-default {
    background: whitesmoke;
}

*/ #moreSightingForm {
    padding: 10px;
}

#moreCountDetailForm {
    padding: 10px;
}

#countDetailEditLine {
    padding: 0px;
}

/************************************/
/* Some custom css                  */
/************************************/


.statBlock {
    background-color: white;
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5em;
}

.statBlock i {
    line-height: 1.5em;
}

.statBlock .statCount {
    font-size: 1.5em;
}

.statBlock .statDesc {
    font-size: 1em;
}

/* Vue Select */

.v-select {
    height: 30px;
    line-height: 30px;
    padding: 0px;
    min-width: 200px;
    display: block;
    width: 100%;
    /* height: 36px; */
    /* padding: 8px 12px; */
    font-size: 13px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.scroll-y-auto {
    overflow-y: auto;
}

.scroll-y {
    overflow-y: scroll;
}

.study-data-panel {
    max-height: 600px;
    height: 600px;
}

/* VueJS Autocomplete */
.autocomplete {
    position: relative;
    width: 100%;
}

.autocomplete * {
    box-sizing: border-box;
}

.autocomplete__box {
    display: flex;
    align-items: center;
    /* background: #fff; */
    /* border: 1px solid #ccc; */
    /* border-radius: 3px; */
    /* padding: 0 5px; */
}

.autocomplete__searching {
    border-radius: 3px 3px 0 0;
}

.autocomplete__inputs {
    flex-grow: 1;
    /* padding: 0 5px; */
}

.autocomplete__inputs input {
    width: 100%;
    /* border: 0; */
}

.autocomplete__inputs input:focus {
    outline: none;
}

.autocomplete--clear {
    cursor: pointer;
}

.autocomplete__results {
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 1000;
    position: absolute;
    max-height: 400px;
    overflow-y: auto;
    background: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-top: 0;
    color: #000;
}

.autocomplete__results__item--error {
    color: #f00;
}

.autocomplete__results__item {
    padding: 7px 10px;
    cursor: pointer;
}

.autocomplete__results__item:hover {
    background: rgba(0, 180, 255, 0.075);
}

.autocomplete__results__item.autocomplete__selected {
    background: rgba(0, 180, 255, 0.15);
}

.autocomplete__icon {
    /* height: 14px; */
    /* width: 14px; */
}

.animate-spin {
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.grow {
    flex: 1;
}

.main {
    overflow-y: auto;
}

#UserList dl {
    margin-bottom: unset;
}

/* #TopBarPlaceSearch {
    padding-top: 7px;
} */

/* .navbar .v-select {
    height: 25px;
} */
#zoomMessage {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    padding-top: 20px;
}

